@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500..700&display=swap');

:root {
    --ff-family: "Space Grotesk", sans-serif;
    --fw-light: 200;
    --fw-normal: 500;
    --fw-bold: 600;

    --fs-100: 0.72rem;
    --fs-200: 0.75rem;
    --fs-300: 0.805rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.725rem;
    --fs-900: 2.5rem;

    --clr-primary: hsl(0, 0%, 100%);
    --clr-Lightgrayish: hsl(270, 3%, 87%);
    --clr-darkviolet:  hsl(278, 68%, 11%);

    --clr-inputerr: hsl(0, 100%, 66%);
    --clr-activeinput:  hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html{
    font-size: var(--fs-500);
    font-family: var(--ff-family);
    font-weight: var(--fw-normal);
}

body{
    margin: 0;
    padding: 0;
  
}

h1,
h2,
h3,
p{
    color: var(--clr-primary);
    font-size: var(--fs-500);
}

.container{
   margin: 0 auto;
   padding: 4rem;
   max-width: 1200px;
}

.bg-img{
    overflow: hidden;
    z-index: -1;
    height: 100vh;
    position: absolute;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
   
}

.card01{
    display: flex;
      width: 100%;
      transform: translate(-12rem, -2rem);
}

.bgcard{
    z-index: -1;
    position: absolute;
    box-shadow: 0 0 90px 0 rgba(0, 0, 0, 0.2);
}

.carddetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem 2rem;
}

.carddetails h1{
    font-size: var(--fs-600);
    font-weight: var(--fw-normal);
    margin-inline: auto;
    margin-top: 4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.cardbaseline{
    display: flex;
    justify-content: space-between;
    margin-block-end: -2rem;
}

.cardbaseline > h2, h3{
    font-size: var(--fs-200);
    font-weight: var(--fw-light);
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.card02{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-6.5rem, 0);
  
    margin-top: 3rem;
}

.card02 > img{
    z-index: -1;
    position: absolute;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); 
}

.card02 > p{
    font-size: var(--fs-400);
    font-weight: var(--fw-light);
    margin-top: 1rem;
    z-index: 1;
    transform: translate(8rem, 0); 
}

.cardform{
  display: flex;
  flex-direction: column;

  justify-content: center;
  padding: 1rem 1rem;
}

.label{
    font-size: var(--fs-100);
    font-weight: var(--fw-light);
    color: var(--clr-activeinput);
    text-transform: uppercase;
    line-height: 2rem;
    letter-spacing: .1rem;
}

.input {
    padding: 1rem;
   border: 1.2px solid var(--clr-Lightgrayish);
   height: 2rem;
   border-radius: 7px;
   font-size: var(--fs-300);
   letter-spacing: .05rem;   
}

.cardform > span {
    font-size: var(--fs-100);
    font-weight: var(--fw-light);
    color: var(--clr-inputerr);
    margin-top: 1rem;
}

.dateCvc{
    border: 2px solid red;

}
.submit{
    font-family: var(--ff-family);
    background-color: var(--clr-darkviolet);
    color: var(--clr-primary);
    font-size: var(--fs-300);
    line-height: 2.5rem;
    border: none;
    margin-top: 1rem;
    border-radius: 8px;
}
